/* Color variables */
:root {
    --primary-color: #1BB0E1;
    --secondary-color: #FBC432;
    --light-color: #ffffff;
    --dark-color: #110f0f;
    --brown-color: #59380A;
    --limon-color: #84cc16;
}

/* Primary color */
.border-primary {
    border-color: var(--primary-color);
}

.text-primary {
    color: var(--primary-color);
}

.bg-primary {
    background-color: var(--primary-color);
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

.bg-primary:hover {
    background-color: var(--primary-color);
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

/* Secondary color */
.border-secondary {
    border-color: var(--secondary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

.bg-secondary:hover {
    background-color: var(--secondary-color);
}

.btn-secondary {
    color: #fff;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

/* Light color */
.border-light {
    border-color: var(--light-color);
}

.text-light {
    color: var(--light-color);
}

.bg-light {
    background-color: var(--light-color);
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

.bg-light:hover {
    background-color: var(--light-color);
}

.btn-light {
    color: #fff;
    background-color: var(--light-color);
    border: 1px solid var(--light-color);
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

/* Brown color */
.border-brown {
    border-color: var(--brown-color);
}

.text-brown {
    color: var(--brown-color);
}

.bg-brown {
    background-color: var(--brown-color);
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

.bg-brown:hover {
    background-color: var(--brown-color);
}

.btn-brown {
    color: #fff;
    background-color: var(--brown-color);
    border: 1px solid var(--brown-color);
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

/* limon color */
.border-limon {
    border-color: var(--limon-color);
}

.text-limon {
    color: var(--limon-color);
}

.bg-limon {
    background-color: var(--limon-color);
    transition: background-color 0.3s ease;
}

.bg-limon:hover {
    background-color: var(--limon-color);
}

.btn-limon {
    color: #fff;
    background-color: var(--limon-color);
    border: 1px solid var(--limon-color);
    transition: background-color 0.3s ease;
}
